{% extends "base.html" %}

{% block header %}
{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col">
      <form method="post" style="padding-top: 30px;">
        {{ form_cadastro.csrf_token }}
        <legend>Cadastre-se</legend>
        <hr>
        <fieldset>
          <div class="form-group" style="max-width: 35vh;">
            {{ form_cadastro.username.label (class="form-control-label") }}
            {{ form_cadastro.username  (class="form-control") }}
          </div>
          <div class="form-group" style="max-width: 35vh;">
            {{ form_cadastro.email.label (class="form-control-label") }}
            {{ form_cadastro.email (class="form-control") }}
          </div>
          <div class="form-group" style="max-width: 35vh;">
            {{ form_cadastro.senha.label (class="form-control-label") }}
            {{ form_cadastro.senha (class="form-control") }}
          </div>
          <div class="form-group" style="max-width: 35vh;">
            {{ form_cadastro.confirm_pass.label (class="form-control-label") }}
            {{ form_cadastro.confirm_pass (class="form-control") }}
          </div>
        </fieldset>
        {{ form_cadastro.btn_criar(class="btn btn-primary") }}
      </form>
    </div>
  </div>
</div>

{% endblock %}