{% extends "base.html" %}

{% block body %}

<div class="container">
    <div class="row">
      <div class="col">
        <form method="POST" action="">
            <legend style="padding-top: 50px;">Login</legend>
            <hr>
            <fieldset>
                <div class="form-group" style="max-width: 50vh;">
                    {{form_login.email.label (class="form-label")}}
                    {{form_login.email (class="form-control")}}
                </div>
                <div class="form-group" style="max-width: 50vh;">
                    {{form_login.senha.label (class="form-label")}}
                    {{form_login.senha (class="form-control")}}
                </div>
                <div class="form-group" style="padding-left: 19px;">
                    {{form_login.lembrarme (class="form-check-input")}}
                    {{form_login.lembrarme.label}}
                </div>
            </fieldset>
            {{form_login.btn_logar (class="btn btn-primary")}}
        </form>
      </div>
    </div>
  </div>
{% endblock %}
