{% extends "base.html" %}

{% block body %}
<div class="container">
    <div class="row form-group">
        <div class="col">
            <form method="post" style="padding-top: 30px;">
                {{ form_login.csrf_token }}
                <legend>Login</legend>
                <hr>
                <fieldset>
                <div class="form-group" style="max-width: 35vh;">
                    {{ form_login.email.label (class="form-control-label") }}
                    {{ form_login.email (class="form-control") }}
                </div>
                <div class="form-group" style="max-width: 35vh;">
                    {{ form_login.senha.label (class="form-control-label")}}
                    {{ form_login.senha (class="form-control") }}
                </div>
                <div class="form-group" style="padding-left: 19px;">
                    {{ form_login.lembrar_dados (class="form-check-input") }}
                    {{ form_login.lembrar_dados.label (class="form-check-label") }}
                </div>
                </fieldset>
                {{ form_login.btn_logar (class="btn btn-primary")}}
            </form>
        </div>
    </div>    
</div>

{% endblock %}
